.sights{
    display: flex;
    background-image: url("../image/bg_1.jpg");
    background-size: cover;
    width:100%;
    justify-content:center ;
    height: 80vh;
    .sightsBack{
        display: flex;
        background-color: #060a24a6;
        width:100%;
        justify-content:center ;
        
    }
}