.component{
    display:flex;
    width:auto;
    background-color: bisque;
    .box{
        height:200px;
        width:200px;
        display: flex;
        position: relative;
        background-color:#323edd;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:hover{
            background-color: #222ECE;
            .line {
                    height: 25px;
                    width: 25px;
                    background-color: #FFA41B;
                    transition: all 0.2s ease;
                }
            p {
                    color: #FFA41B;
                }
                img{
                    filter: brightness(0) saturate(100%) invert(77%) sepia(89%) saturate(3192%) hue-rotate(342deg) brightness(99%) contrast(104%);
                }
                                }
                }
                                .line {
                                    height: 15px;
                                    width: 15px;
                                    background-color: white;
                                    clip-path: polygon(18% 0, 19% 81%, 100% 81%, 100% 100%, 0 100%, 0 0);
                                    position: absolute;
                                    transition: all 0.2s ease;
                                }
                                                                .line-1 {
                                                                    transform: rotate(180deg);
                                                                    right: 0;
                                                                    top: 0;
                                                                }
                                
                                                                .line-2 {
                                                                    transform: rotate(0deg);
                                                                    left: 0;
                                                                    bottom: 0;
                                                                }
                
img{
    height:40px;
    width:40px;
    position: absolute;
    top:30px;
    left:0px;
    margin: 0px 20px;

}
p{
    color:rgba(255, 255, 255, 0.893);
    text-align: left;
    margin:0px 20px;
    text-wrap: wrap;
    margin-top: 40px;
    line-height: 23px;
    letter-spacing: 0.5px;
    
}
}
